* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

ul,
ol,
li {
   list-style: none;
}

/* ================================================= */

.wrapper {
   width: fit-content;
   height: fit-content;
   margin: 100px auto;
}

.register {
   font-size: 48px;
   font-weight: bold;
   text-align: center;
   margin-bottom: 38px;
}

form {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.inp {
   width: 438px;
   height: 56px;
   border-radius: 10px;
   padding: 10px 20px;
   border: 2px solid black;
   outline: none;
}

.btn {
   border: none;
   border-radius: 10px;
   background-color: #0047FF;
   padding: 15px 20px;
   cursor: pointer;
   color: white;
   font-size: 18px;
   margin-bottom: 32px;
}

a {
   color: #0047FF;
   font-size: 18px;
   font-weight: bold;
   text-decoration: none;
   text-align: center;
}